<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/image-icons.html">
<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../../bower_components/paper-fab/paper-fab.html">

<dom-module id="cuenta-app">
  <template>

    <style>

    .content {
      display: block;
      position: relative;
      max-width: 1000px;
      max-height: 1000px;
      margin: 5px auto;
      background-color:white;
      opacity: 0.9;
    }

    .card-container {
      display: inline-block;
      width: 33.33%;
      height: 33.33%;
      color: black;
      text-decoration: none;
      opacity: 1;
    }

    paper-card {
      display: block;
      margin: 5px;

      --paper-card-header-image: {
        height: 200px;
      }
    }

    paper-card h2 {
      margin: 4px;
      font-weight: normal;
    }

    paper-card p {
      margin: 4px;
      color: #999;
    }

    @media (max-width: 960px) {
      .content {
        max-width: 800px;
      }

      .card-container {
        width: 50%;
        height: 50%;
      }
    }

    @media (max-width: 719px) {

      .card-container {
        width: 100%;
        height: 100%;
        opacity: 1;
      }
    }

    </style>

    
    <app-header-layout>
            <div class="content">
                    <template is="dom-repeat" items="{{accounts}}"><!-- 
                    --><a  class="card-container">
                        <paper-card image="[[urlImagen(item.tipoTarjeta)]]">
                          <div id="idDiv1" class="card-content">
                            <iron-icon icon="credit-card" class="iconos-card" slot="sufix"></iron-icon> {{formatNumTarjeta(item.numTarjeta)}}
                            <paper-icon-button id="idIcon" icon="expand-more" title="Informacion adicional" on-click="expandir" style="float:right;">
                            </paper-icon-button>
                            <iron-collapse id="infoAdicional">
                                <p>Saldo actual: <span>${{numeroCantidad(item.saldoActual)}}</span></p>
                                <template is="dom-if" if="[[isCredit(item.tipoTarjeta)]]">  
                                  <p>Saldo disponible: <span>${{numeroCantidad(item.saldo)}}</span></p>
                                  <p>Límite de crédito: <span>${{numeroCantidad(item.limiteCredito)}}</span></p>
                                </template>
                                <p>[[tipoTarjeta(item.tipoTarjeta)]]</p>
                            </iron-collapse>
                          </div>
                          <div id="{{item.numTarjeta}}" class="card-actions">
      
                            <div style="display:inline-block;">
                              <paper-fab  on-click="obtenerMovimientos" style="background: rgb(40, 194, 255);" mini icon="list" aria-label="Movimientos"></paper-fab>
                            </div>
                            <div style="display:inline-block;">
                              <paper-fab on-click="altaMovimientos" style="background: rgb(40, 194, 255);" mini icon="add-shopping-cart" aria-label="Pagar servicio"></paper-fab>
                            </div>
                          </div>
                        </paper-card>
                      </a><!-- 
                  --></template>
                  </div>

    </app-header-layout>

    
  </template>

  <script>

  Polymer({

    is: 'cuenta-app',

    properties: {
      recipes: Object,
      accounts: Object,
      tarjetaOrigen:{type:Object,value:{},notify:true},
      status:{type: String,notify: true},
    },

     expandir:function(e) {
        
        var elemento = Polymer.dom(e).localTarget;
        console.log("El objeto que disparo el evento: " + elemento);
        var parentButton = elemento.parentElement;
        console.log("El objeto padre: " + parentButton);
        var ironCollapse= parentButton.getElementsByTagName("iron-collapse")[0];
        var iconoExpand = parentButton.getElementsByTagName('paper-icon-button')[0];
        ironCollapse.toggle();
        iconoExpand.icon = ironCollapse.opened ? 'expand-less': 'expand-more';
        
        },  
      formatNumTarjeta(numTarjeta){

            return '*' + numTarjeta.substring(12,17); 

        },
        altaMovimientos(e){

          var elemento = Polymer.dom(e).localTarget;
           console.log("El objeto que disparo el evento: " + elemento);
          var parentCard = elemento.parentElement.parentElement;
          console.log("El objeto padre: " + parentCard);
          //Obtenemos el control paper card
          var idCuenta = parentCard.id;
          //Obtenemos el id
          console.log("El id de la tarjeta es: " + idCuenta);
          this.tarjetaOrigen.idCuenta = idCuenta;
         // this.tarjetaOrigen.idCuenta.saldoActual = this.accounts.
         var datosTarjeta={};
          for (var i=0; i < this.accounts.length; i++){
             if (this.accounts[i]['numTarjeta'] == idCuenta){
                  datosTarjeta = this.accounts[i]
             }
          }
          this.tarjetaOrigen.tipoTarjeta = datosTarjeta.tipoTarjeta;
          this.tarjetaOrigen.saldoActual = datosTarjeta.saldoActual;
          console.log("Se dispara el alta: "+JSON.stringify(this.tarjetaOrigen));
          this.status='altaMovimiento';

        },
        obtenerMovimientos(e){
          
          var elemento = Polymer.dom(e).localTarget;
           console.log("El objeto que disparo el evento: " + elemento);
          var parentCard = elemento.parentElement.parentElement;
          console.log("El objeto padre: " + parentCard);
          //Obtenemos el control paper card
          var idTarjeta = parentCard.id;
          //Obtenemos el id
          console.log("El id de la tarjeta es: " + idTarjeta);
          this.tarjetaOrigen.idCuenta = idTarjeta;
          this.status='movimientos';
          
        },
        tipoTarjeta(tTarjeta){

            if(tTarjeta == 'D'){
                return "Débito";
            }
            return "Crédito";
        },
        numeroCantidad(num){

            return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");

        },
        isCredit(tipoTarjeta){

          if(tipoTarjeta == 'D'){
                return false;
            }
            return true;

        },
        urlImagen(tipoTarjeta){
          
          if(tipoTarjeta == 'D'){
                return "../images/debit-card.jpg";
            }
            return "../images/credit-card.png";
          
        }
    }

  );

  </script>
</dom-module>
