<script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/communication-icons.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/paper-styles/color.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-badge/paper-badge.html">
<link rel="import" href="../../bower_components/iron-list/iron-list.html">
<link rel="import" href="../../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../../bower_components/google-map/google-map.html">


    
<dom-module id="detalle-movimiento-app">
<template>


    <style>

      :host {
        display: block;
        @apply --paper-font-common-base;
        font-family: sans-serif;
      }
      .title {
        padding: 16px 0;
        font-size: 30px;
        font-weight: 600;
      }

      paper-fab {
        position: absolute;
        top: -28px;;
        right: 40px;
        background-color: var(--app-primary-color);
      }

     
      .white-toolbar {
        background: var(--paper-blue-500);
        color:white;
      }

      .blue-toolbar {
        background: var(--paper-blue-500);
        color: white;
      }

      app-toolbar {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
        font-size: 18px;
      }

      app-toolbar paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      paper-badge {
        margin-top: 5px;
      }

      paper-badge[label="0"] {
        opacity: 0;
      }

      @media (min-width: 640px) {

        paper-badge {
          display: none;
        }
      }
      #itemsList,
      #selectedItemsList {
        @apply --layout-flex;
      }
      .item {
        @apply --layout-horizontal;
        cursor: pointer;
        padding: 16px 22px;
        border-bottom: 1px solid #DDD;
      }
      .item:focus,
      .item.selected:focus {
        outline: 0;
        background-color: rgb(230, 248, 255);
      }
      paper-item {
        white-space: nowrap;
        cursor: pointer;
      }
      .pad {
          @apply --layout-flex;
          @apply --layout-vertical;
          padding: 0 16px;
        }
      paper-item:hover::after {
        content: "－";
        width: 16px;
        height: 16px;
        display: block;
        border-radius: 50% 50%;
        background-color: var(--google-red-300);
        margin-left: 10px;
        line-height: 16px;
        text-align: center;
        color: white;
        font-weight: bold;
        text-decoration: none;
        position: absolute;
        right: 15px;
        top: calc(50% - 8px);
      }
      .no-selection {
        color: #999;
        margin-left: 10px;
        line-height: 50px;
      }
      iron-list {
        background-color:white;
        @apply --layout-flex;
      }.detailSection {
        @apply --layout;
        width: 100%;
        -webkit-flex: 1 1 65%;
        flex: 1 1 65%;
      } .detailGrid {
        width: 100%;
        top: 90%;
        padding: 90px 0 90px;
        @apply --layout-horizontal;
        @apply --layout-wrap;
        @apply --layout-center-justified;
      } 
      
      .image {
        height: 240px;
        
        background-position: center center;
        background-size: contain;
        padding: 24px;
        border: rgb(0, 0, 0)
      }.info {
        height: auto;
       
        align-content: center;
        padding: 10px;
        width: 30%;
      }  .contenido {
        width: 400px;
      } .store {
        margin-top: 30px;
        border-top: 1px solid #ddd;
      } 
      .header {
        position: relative;
        padding: 24px 0;
        text-align: left;
        font-size: 14px;
        letter-spacing: 1px;
        color:black;
      } /* narrow layout */
     
      .main {
        
        border-top: 1px solid rgb(0, 0, 0);
        font-size: 15px;
        line-height: 10px;
      }
      .check {
          width: 24px;
          height: 24px;
        }


    </style>
    
    <iron-ajax id="infoComercio" 
    url="http://api-rest-api-back.1d35.starter-us-east-1.openshiftapps.com/v1/comercios/[[idComercio]]"    
    handle-as="json"
    on-response="mostrarInfoComercio">
    </iron-ajax>

<div style=" width: 100%;height:100%;margin: 0 auto;display: flex;background:white;position: absolute;opacity: 0.95;">
   
      <div style=" height: 100%;width: 30%;position: relative;border-right: 1px solid;">

        <app-toolbar class="blue-toolbar"  fixed="true" style="width:100%;">
          <div id="labelMovimientos" style="width:1000px;"><iron-icon style=" width: 30px; height: 30px;" icon="list"></iron-icon>  </div>        
        </app-toolbar>     
        <!-- Main List for the items -->
        <iron-list  id="itemsList" items="[[movimientos]]"  selection-enabled on-selected-item-changed="obtenerElemento">
          <template>
            <div>
              <div tabindex$="[[tabIndex]]" aria-label$="Select/Deselect [[item.importe]]" class$="[[_computedClass(selected)]]">
                
                <iron-icon style=" width: 55px; height: 55px;" icon="credit-card"></iron-icon>
                <div class="pad">
                  <div class="primary">
                    [[item.fechaMovimiento]]
                  </div>
                  <div class="secondary dim">$[[item.importe]]</div>
                  <div class="secondary dim">[[item.descripcion]]</div>
                </div>
                <iron-icon icon$="[[iconForItem(selected)]]" style="fill:var(--paper-blue-500);" class="check"></iron-icon>
              </div>
              <div class="border"></div>
            </div>
          </template>
        </iron-list>
      </div>
    
  
        <div  style="background:rgb(255, 251, 251);width: 70%;position: relative;">
          <app-toolbar class="white-toolbar" >
            <div main-title >Detalle Movimiento</div>
          </app-toolbar>
          <template is="dom-if" if="[[!movimiento]]">
            <div class="no-selection">Seleciona un movimiento</div>
          </template>
          <template is="dom-if" if="[[movimiento]]">  
            <div class="image" >
              <google-map id="idMapaMov" api-key="AIzaSyA38YEfXgcCvSeCQcDoVJMiDTkNE9uklwQ" zoom="16">
                <google-map-marker id="idMapaMarker" latitude=[[comercio.latitud]] longitude=[[comercio.longitud]] draggable="false" title="P"></google-map-marker>
              </google-map>

            </div>
            
            <div class="info" style="margin-left: auto;margin-right: auto;width:300px; background:rgb(255, 251, 251)">
                
                   <div class="title" style$="color: black;">[[movimiento.descripcion]]</div>
                   <section class="main">
                   <p><b>Fecha aplicación:</b> [[movimiento.fechaMovimiento]]</p>
                   <p><b>Importe:</b> $[[numeroCantidad(movimiento.importe)]]</p>
                   <p><b>Referencia:</b> [[movimiento.referencia]]</p>
                   </section>
            </div>
            <div class="info" style=" margin-left: auto;margin-right: auto;background:rgb(255, 251, 251);">
                <section class="main">
                 <p><b>{{comercio.nombre}}</b></p>
                <p><b>Giro:</b> [[comercio.giro]]</p>
              </section>
           </div>
    

          </template>
          
         
        </div>
  
  </div>
</template>

  <script>

    HTMLImports.whenReady(function() {

      Polymer({

        is: 'detalle-movimiento-app',

        properties: {
          selectedItem: {
            type: Object
          },
          coordenadas: Object,
          status:{type:String,observer:'selectedChanged', notify:true},
          tarjetaOrigen:{
            type: Object,
            value: {},notify:true
          },
          movimientos: Object,
          movimiento:{type: Object,value:null},
          idComercio:String,
          comercio:{type: Object},
          urlMapa:String,
          numTarjeta: {type:String,value:''},
          
        },
        selectedChanged(selected){

            console.log("label " + selected);
            if(selected == 'movimientos'){
               
               this.$.labelMovimientos.innerHTML = "Movimientos de la tarjeta: " + this.formatNumTarjeta();

            }

        },
        obtenerElemento(){

          if(!(this.$.itemsList.selectedItem === null)){

            console.log(JSON.stringify(this.$.itemsList.selectedItem));
            this.movimiento = this.$.itemsList.selectedItem;
            this.idComercio = this.movimiento.idComercio;
            this.$.infoComercio.generateRequest();

          }else{
              this.movimiento = null;
          }
        },numeroCantidad(num){

            return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");

        },
        mostrarInfoComercio(data){
          this.comercio = data.detail.response[0];
          console.log("Datos del comercio: "+JSON.stringify(this.comercio));
          var marker = this.$$('#idMapaMarker');
          marker.longitude = this.comercio.longitud;
          marker.latitude = this.comercio.latitud;
          marker._updatePosition();
          var newCenter = new google.maps.LatLng(this.comercio.latitud, this.comercio.longitud); 
          var mapas = this.$$('#idMapaMov');
          mapas.map.setCenter(newCenter)
          mapas.fitToMarkers =true;
        },
        iconForItem: function(isSelected) {
          return isSelected ? 'radio-button-checked' : 'radio-button-unchecked';
        },
        formatNumTarjeta(){
        
          return '*' + this.tarjetaOrigen.idCuenta.substring(12,17); 
        
        },
        _computedClass: function(isSelected) {
          
          var classes = 'item';
          if (isSelected) {
          
            classes += ' selected';
           

          }
          return classes;
        },
        _unselect: function(e) {
          this.$.itemsList.deselectItem(e.model.item);
          this.movimiento= undefined;
        },

        _getFormattedCount: function(count) {
          return count > 0 ? '(' + count + ')' : '';
        }
      });

   });
  </script>
</dom-module>


