<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../detalle-movimiento-app/detalle-movimiento-app.html">

<dom-module id="movimientos-app">
  <template>

    <style>
      :host {
        display: block;
      }
      table {

        border-width: medium;
        border-color: rgb(33, 33, 87);
      }
    </style>

    <iron-ajax id="obtenerMovimientos" 
               handle-as="json"
               on-response="mostrarMovimientos">
    </iron-ajax>
    
   <detalle-movimiento-app movimientos="{{movimientos}}" status="{{status}}" tarjeta-origen="{{tarjetaOrigen}}"></detalle-movimiento-app>


       
  </template>

  <script>
    /**s
     * @customElement
     * @polymer
     */
    class MovimientosApp extends Polymer.Element {
      static get is() { return 'movimientos-app'; }
      static get properties() {
        return {
          
          movimientos: {
              type: Object
          },
          ciudadSeleccionada:{

              type:String
          },
          status:{type:String, observer: 'selectedChanged', notify:true},
          tarjetaOrigen:{
            type: Object,
            notify:true
          }

        };
      }
    
      mostrarMovimientos(data) {
        
        console.log(data.detail.response)
        this.movimientos=data.detail.response[0].cuentas[0].movimientos;
        console.log("JSON es: " + JSON.stringify(this.movimientos))
        
        }
        selectedChanged(selected){

            console.log("valor seleccion cuentas: " + selected);
            if(selected == 'movimientos'){
                console.log("valor de idCliente: " + JSON.stringify(this.tarjetaOrigen));
                this.$.obtenerMovimientos.url ="http://api-rest-api-back.1d35.starter-us-east-1.openshiftapps.com/v1/movimientos?idCliente="+this.tarjetaOrigen.idCliente+'&idCuenta='+this.tarjetaOrigen.idCuenta;
                this.$.obtenerMovimientos.generateRequest();
                
            }

        } 
        mostrarInfoFila(e){

            console.log(e);
            this.ciudadSeleccionada =e.model.mov.ciudad;

        }
    
    }
 
    window.customElements.define(MovimientosApp.is, MovimientosApp);
  </script>
</dom-module>
