<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="/bower_components/app-layout/app-layout.html">
<link rel="import" href="/bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="/bower_components/paper-alert-dialog/paper-alert-dialog.html">
<link rel="import" href="/bower_components/paper-alert-dialog/paper-alert-dialog-icon-header.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/bower_components/iron-icons/image-icons.html">
<link rel="import" href="/bower_components/paper-card/paper-card.html">
<link rel="import" href="/bower_components/iron-pages/iron-pages.html">
<link rel="import" href="/bower_components/iron-selector/iron-selector.html">
<link rel="import" href="/bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../cuenta-app/cuenta-app.html">

<dom-module id="cuentas-app">
  <template>
    
    <style>
      :host {
        display: block;
      }
      app-drawer-layout:not([narrow]) [drawer-toggle] {
      display: none;
    }
    
   
    </style> 
      
    <iron-ajax id="cuentasUsuario"
              method="GET"
              handle-as="json"
              content-type="application/json"
              on-response="mostrarResultadoCuentas"
              on-error="mostrarError"></iron-ajax>
    
    <app-drawer-layout responsive-width="1280px">

                    <cuenta-app accounts="[[accounts]]" tarjeta-origen={{tarjetaOrigen}} status='{{status}}' name="cuenta"></cuenta-app>

            
  </app-drawer-layout>
  </template>
  
  <script>
    /**s
     * @customElement
     * @polymer
     */
    class CuentasApp extends Polymer.Element {
      static get is() { return 'cuentas-app'; }
      static get properties() {
        return {
          accounts:{
              type: Object
          },
          status:{type:String, observer: 'selectedChanged', notify:true},
          tarjetaOrigen:{
            type: Object,
            value: {},notify:true
          },
          idCliente:String,
          idCuenta: String,
          displayIcon:{type: String, value:'none'},
          mensaje:{
            type:String

          }
        };
      }
  
    selectedChanged(selected){

        console.log("valor seleccion cuentas: " + selected);
        if(selected== 'cuentas'){
            console.log("valor de idCliente: " + JSON.stringify(this.tarjetaOrigen));
            this.$.cuentasUsuario.url ="http://api-rest-api-back.1d35.starter-us-east-1.openshiftapps.com/v1/cuentas/?idCliente="+this.tarjetaOrigen.idCliente;
            this.$.cuentasUsuario.generateRequest();

        }

    }
    mostrarError(error){
      
      console.log(error.detail.request.xhr.response)
      console.log(error.detail.request.status)
      var status = error.detail.request.status;
      var bodyError = error.detail.request.xhr.response;
      if(status == 409){
        

      }else{

        this.mensaje = bodyError;

      }
      this.displayIcon ='0';
      this.mensaje = "Error desconocido, intente más tarde";
      
    }

    enmascararDigitos(){

      this.idCuenta  = this.auxIdCuenta;
      console.log("ad");

    }

    mostrarResultadoCuentas(data) {
        
        console.log("Datos: " + data.detail.response)
        this.accounts = data.detail.response[0].cuentas;
        
    }

    handleConfirm(e) {
      window.location.href = "/login";
    }

   expandir(e) {
    var target = e.target.id;
   
        var elemento = Polymer.dom(e).localTarget;
        console.log("El objeto que disparo el evento: " + Polymer.dom(e).localTarget);
        var  infoAd = this.shadowRoot.querySelector('#infoAdicional');
        infoAd.toggle();
        console.log(this.shadowRoot.querySelector('#infoAdicional'));
        var iconButton = this.shadowRoot.querySelector('#icon-exp');
        iconButton.icon = infoAd.opened ? 'expand-more': 'expand-less';
        
        }
    }
 
    window.customElements.define(CuentasApp.is, CuentasApp);
  </script>
  
</dom-module>