<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
<link rel="import" href="/bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../loginmx-app/loginmx-app.html">
<link rel="import" href="../alta-app/alta-app.html">
<link rel="import" href="../cuentas-app/cuentas-app.html">
<link rel="import" href="../movimientos-app/movimientos-app.html">
<link rel="import" href="../alta-movimiento/alta-movimiento.html">

<dom-module id="pages-techu">
    
  <template>
        <style>

             
                app-header {
                color: #fff;
                background-color: rgb(35, 123, 255);
                opacity: 0.8;
                --app-header-background-front-layer: {
                  background-position: 70% 10%;
                };
              }
              .iconos-menu{
          
                width: 55px;
                height: 55px;
                color: #ffffff;
             
              }
              
              </style>
        <app-header-layout>
                <app-header
                condenses=true
                fixed="true"
                reveals=true
                shadow=false
                slot="header">
              <app-toolbar>
                
                <div main-title spacer  style="font-size: 20pt;align-content: center;">Banco TechU!</div>
                <template is="dom-if" if="{{login}}"> 
                        <paper-icon-button title="Tarjetas" class="iconos-menu" icon="credit-card" on-click="setCuentas"></paper-icon-button>
                        <paper-icon-button title="Salir" class="iconos-menu" icon="exit-to-app" on-click="salir"></paper-icon-button>
                </template>
                <template is="dom-if" if="{{!login}}"> 
                        <paper-icon-button title="Login" class="iconos-menu" icon="account-box" on-click="setLogin"></paper-icon-button>               
                        <paper-icon-button title="Alta usuario" class="iconos-menu" icon="add-box" on-click="setAltaUsuario"></paper-icon-button>
                </template>
                
            </app-toolbar>
            </app-header>
            </app-header-layout>   
            
            
                  
                <iron-pages selected="{{status}}" attr-for-selected="id" >
                    <alta-app id= "altaUsuario" status="{{status}}"></alta-app>
                    <loginmx-app id = "login" login="{{login}}"  tarjeta-origen="{{tarjetaOrigen}}"  status="{{status}}" ></loginmx-app>
                    <cuentas-app id = "cuentas" tarjeta-origen ="{{tarjetaOrigen}}" status="{{status}}"></cuentas-app>
                    <movimientos-app id= "movimientos" tarjeta-origen="{{tarjetaOrigen}}" status="{{status}}" ></movimientos-app>
                    <alta-movimiento id= "altaMovimiento" tarjeta-origen="{{tarjetaOrigen}}" status="{{status}}" ></alta-movimiento>
                </iron-pages>
               


  </template>
  
  <script>
    /**s
     * @customElement
     * @polymer
     */
    class PagesTechu extends Polymer.Element {
      static get is() { return 'pages-techu'; }
      static get properties() {
        return {
          
          tarjetaOrigen:{
            type: Object,
            value: {},notify:true
          },
          status:{type:String, value:'login',notify: true},
          login: {type: Boolean, value :false, notify:true}
          
        };
      }
      setCuentas(){
            this.status = 'cuentas';
      }
      setLogin(){

          this.status = 'login';

      }
      setAltaUsuario(){

           this.status = 'altaUsuario';

      }
      salir(){

            this.tarjetaOrigen ={};
            this.login =false;
            this.$.login.loginData.password="";
            this.status='login';
            

      }
      
    }
    window.customElements.define(PagesTechu.is, PagesTechu);
  </script>
  
</dom-module>