<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">


<link rel="import" href="/bower_components/app-layout/app-layout.html">
<dom-module id="page-not-found">
  <template>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
      :host {
        display: block;
        align-content: center;
      } .container > div {
            padding: 15px;
            margin: 5px;
            background-color: white;
            min-height: 20px;
            align-content: center;

        }.card-contenth{

           
              position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-wrap: wrap;
                opacity: 0.75;
        } .card-container {
      position: relative;
      width: 720px;
      margin: 300px auto 40px;
    }
 
    </style>
   
   <div class="card-contenth">
      <paper-card  heading="404 Not Found!">
          <div class="card-content">
              La página a la que desea ingresar no existe
          </div>
          <div class="container">
              <paper-icon-button icon="favorite"></paper-icon-button>
          </div>
      </paper-card>
  </div>
            
  </template>

  <script>
    /**s
     * @customElement
     * @polymer
     */
    class PageNotFound extends Polymer.Element {
      static get is() { return 'page-not-found'; }
      static get properties() {
        return {};
      }
    }
 
    window.customElements.define(PageNotFound.is, PageNotFound);
  </script>
</dom-module>
