<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="/bower_components/app-layout/app-layout.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/bower_components/iron-icons/image-icons.html">

<dom-module id="loginmx-app">
  <template>
    
    <style>
      :host {
        display: block;
      }
      table {

        border-width: medium;
        border-color: rgb(33, 33, 87);
      }
      paper-button{

          background-color:deepskyblue;
          color: white

      }
      iron-form{
        justify-content: center;
        
        }

    .avatar-container {
      position: relative;
      border: 2px solid #00AA8D;
      border-radius: 50%;
      height: 90px;
      padding: 2px;
      width: 90px;
      margin: 20px auto;
    }
    .avatar-container .image {
      background-image: url('https://cdn.shopify.com/s/files/1/1743/1613/files/blog_User-icon-300x300.png');
      background-size: contain;
      border-radius: 50%;
      height: 100%;
      width: 100%;
    }
      
    paper-button{

      justify-content: left;
      font-size: 11pt;

    }
    .login{
      margin-top: -60px;
      margin:7% auto auto auto;
      width: 40em;
      max-width: 60%;
      opacity: 0.9;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      padding:16px;
      left:50%;
       border-radius: 5px;
       background-color: #fff; 
       color: #757575;
       text-align: center;
    }
    </style> 
      
    <iron-ajax id="hacerLogin"
              url="http://api-rest-api-back.1d35.starter-us-east-1.openshiftapps.com/v1/usuarios/login"
              method="POST"
              handle-as="json"
              content-type="application/json"
              body="{{loginData}}"
              on-response="mostrarResultadoLogin"
              on-error="mostrarError"></iron-ajax>
              
<div class="login">

    <div class="avatar-container">
      <div class="image"></div>
    </div>
  <div style="font-size: 22px; margin: 16px 0; color: #212121;"> 
    <iron-form id="form2">
      <form action="/foo" method="get">
        <paper-input id= "email" type="email" label="E-Mail" placeholder="usuario@dominio.com" name="Email" value="{{loginData.email::input}}" required="required" auto-validate pattern="\S+@\S+\.\S+" error-message="Email no valido!"></paper-input>
        <paper-input id="password" type="password" label="Password" auto-validate required="required"  name="name" value="{{loginData.password::input}}" error-message="Password no puede ser vacio"></paper-input>
        
        <br>
        <paper-button  raised on-click="hacerLogin">Iniciar Sesión</paper-button>
        <paper-button  raised on-click="altaUsuario" >Date de alta</paper-button> 
        <p style="font-size: 15px;"><iron-icon icon="error-outline" slot="prefix"  style="display:{{displayIcon}};color:red;"></iron-icon> {{mensaje}}</p>
      </form>
      <br>

    </iron-form>
   
    
</div> 
</div>


  </template>
  
  <script>
    /**s
     * @customElement
     * @polymer
     */
    class LoginmxApp extends Polymer.Element {
      static get is() { return 'loginmx-app'; }
      static get properties() {
        return {
          loginData:{
              type: Object,
              value:{}
          }, 
          login: {type: Boolean, notify:true},
          tarjetaOrigen:{
            type: Object,
            value: {}, notify:true
          },status:{type: String,notify: true},
          mensaje:String,
          displayIcon:{type: String, value:'none'},
        };
      }
      hacerLogin() {
        
        this.$.email.validate();
        this.$.password.validate();


          if(!(this.$.email.invalid ||this.$.password.invalid )){
            
            console.log(this.loginData)
            this.$.hacerLogin.generateRequest();

          }
      }
      invocarPeticion() {
          this.$.obtenerProductos.generateRequest();
      }
    
    mostrarError(error){
      
      console.log(error.detail.request.xhr.response)
      console.log(error.detail.request.status)
      var status = error.detail.request.status;
      var bodyError = error.detail.request.xhr.response;
      
      if(status == 409){

          switch(bodyError.code){

            case "INACTIVE_USER":
            
                  this.mensaje = "Usuario no activo, clic en Dar de alta para activar.";
            break;

            case "INVALID_PASSWORD":

                 this.mensaje = "Password no válido, favor de verificar.";

            break;

            case "NONEXISTENT_USER":

              this.mensaje = "Cliente no existente, acudir a su sucursal más cercana para alta."

            break;

          }
          console.log("El mensaje: " +this.mensaje);

      }else{

        this.mensaje = bodyError.message;

      }
      this.displayIcon ='0';
    }
    mostrarResultadoLogin(data) {
        this.tarjetaOrigen.idCliente =  data.detail.response.idCliente;
        console.log("Resultado " +data.detail.response.code +" "+this.tarjetaOrigen.idCliente )
        this.mensaje ="";
        this.displayIcon='none';
        this.status = 'cuentas';
        this.login =true;
        
    }
    altaUsuario(){

      

          this.status = 'altaUsuario';

    
      
    }

    }
 
    window.customElements.define(LoginmxApp.is, LoginmxApp);
  </script>
  
</dom-module>