<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="/bower_components/app-layout/app-layout.html">
<link rel="import" href="/bower_components/paper-alert-dialog/paper-alert-dialog.html">
<link rel="import" href="/bower_components/paper-alert-dialog/paper-alert-dialog-icon-header.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/bower_components/iron-icons/image-icons.html">


<dom-module id="alta-app">
  <template>
    
    <style>
      :host {
        display: block;
      }
      table {

        border-width: medium;
        border-color: rgb(33, 33, 87);
      }
      paper-button{

          background-color:deepskyblue;
          color: white

      }
      iron-form{
        justify-content: center;
        
        }

    .avatar-container {
      position: relative;
      border: 2px solid #00AA8D;
      border-radius: 50%;
      height: 90px;
      padding: 2px;
      width: 90px;
      margin: 20px auto;
    }
    .avatar-container .image {
      background-image: url('https://cdn.shopify.com/s/files/1/1743/1613/files/blog_User-icon-300x300.png');
      background-size: contain;
      border-radius: 50%;
      height: 100%;
      width: 100%;
    }
      
    paper-button{

      justify-content: left;
      font-size: 11pt;

    }
    .login{
      margin-top: -60px;
      margin:7% auto auto auto;
      width: 40em;
      max-width: 60%;
      opacity: 0.9;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      padding:16px;
      left:50%;
       border-radius: 5px;
       background-color: #fff; 
       color: #757575;
       text-align: center;
    }
    </style> 
      
    <iron-ajax id="altaUsuario"
              url="http://api-rest-api-back.1d35.starter-us-east-1.openshiftapps.com/v1/usuarios/alta"
              method="POST"
              handle-as="json"
              content-type="application/json"
              body="{{altaObject}}"
              on-response="mostrarResultadoAlta"
              on-error="mostrarError"></iron-ajax>

              <paper-alert-dialog id="dialog" >
              <paper-alert-dialog-icon-header icon="icons:done">Alta exitosa!</paper-alert-dialog-icon-header>
              Ahora puedes iniciar sesión
            </paper-alert-dialog>              

<div class="login">

    <div class="avatar-container">
      <div class="image"></div>
    </div>
  <div style="font-size: 22px; margin: 16px 0; color: #212121;"> 
    <iron-form id="form2">
      <form action="" method="get">
        <paper-input id= "email" type="email" label="E-Mail" placeholder="usuario@dominio.com" name="email" value="{{altaObject.email::input}}" required="required" auto-validate pattern="\S+@\S+\.\S+" error-message="Email no valido!"><iron-icon icon="mail" slot="prefix"></iron-icon></paper-input>
        <paper-input id= "idCuenta"  label="Num. Tarjeta" char-counter maxlength="16" placeholder="************3423" name="tarjeta" value="{{altaObject.idCuenta::input}}" on-input="enmascararDigitos" required="required" auto-validate pattern="[0-9]{16}" error-message="Longitud incorrecta, formato invalido"><iron-icon icon="credit-card" slot="prefix"></iron-icon></paper-input></paper-input>
        <paper-input id= "nip" type="password" char-counter maxlength="4" label="NIP Cuenta"  name="nip" value="{{altaObject.nip::input}}" required="required" auto-validate pattern="[0-9]{4}" error-message="Longitud incorrecta o formato invalido"> <iron-icon icon="fingerprint" slot="prefix"></iron-icon></paper-input>
        <paper-input id="password" type="password" label="Nuevo Password"  name="password" value="{{altaObject.password::input}}" auto-validate required="required" error-message="Password no puede estar vacio"><iron-icon icon="lock" slot="prefix"></iron-icon></paper-input>
        <br>
        <paper-button raised on-click="altaUsuario">Dame de alta!</paper-button>
        <p style="font-size: 15px;"><iron-icon icon="error-outline" slot="prefix"  style="display:{{displayIcon}};color:red;"></iron-icon> {{mensaje}}</p>

      </form>
      <br>

    </iron-form>
   
    
</div> 
</div>

  </template>
  
  <script>
    /**s
     * @customElement
     * @polymer
     */
    class AltaApp extends Polymer.Element {
      static get is() { return 'alta-app'; }
      static get properties() {
        return {
          altaObject:{
              type: Object,
              value:{}
          },
          status:{type:String, notify:true},
          auxIdCuenta:String,
          displayIcon:{type: String, value:'none'},
          mensaje:{
            type:String

          }
        };
      }
      altaUsuario() {

          this.$.email.validate();
          this.$.idCuenta.validate();
          this.$.nip.validate();
          this.$.password.validate();

          if(!(this.$.email.invalid || this.$.idCuenta.invalid || this.$.nip.invalid || this.$.password.invalid)){
            
            console.log(this.altaObject)
            this.$.altaUsuario.generateRequest();

          }
      }
    
    mostrarError(error){
      
      console.log(error.detail.request.xhr.response)
      console.log(error.detail.request.status)
      var status = error.detail.request.status;
      var bodyError = error.detail.request.xhr.response;
      if(status == 409){
        
        
          switch(bodyError.code){

            case "ALREADY_ACTIVE_USER":
            
              this.mensaje = "Usuario ya activo, no es necesario dar de alta.";      

            break;

            case "NONEXISTENT_USER":

              this.mensaje = "Usuario no existe como cliente, favor de verificar.";      

            break;

            case "ACCOUNT_NIP_DONT_MATCH":

              this.mensaje = "Cuenta y/o nip asociados no son correctos, favor de verificar.";      

            break;

          }


      }else{

        if(bodyError != undefined){

          this.mensaje = bodyError;
          
        }else{

             this.mensaje = "Error desconocido, intente más tarde";

        }
          
      }
      this.displayIcon ='0';
      
    }

    enmascararDigitos(){

      this.idCuenta  = this.auxIdCuenta;
      console.log("ad");

    }

    mostrarResultadoAlta(data) {
        this.$.dialog.open();
    }
    ready() {
      super.ready();
      this.$.dialog.addEventListener('confirm', e => {this.handleConfirm(e)});
    }

    handleConfirm(e) {
      this.status ="login"
      
    }

  
    }
 
    window.customElements.define(AltaApp.is, AltaApp);
  </script>
  
</dom-module>