<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-combobox/paper-combobox.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="/bower_components/app-layout/app-layout.html">
<link rel="import" href="/bower_components/paper-alert-dialog/paper-alert-dialog.html">
<link rel="import" href="/bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="/bower_components/paper-alert-dialog/paper-alert-dialog-icon-header.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/bower_components/iron-icons/image-icons.html">
<link rel="import" href="/bower_components/iron-icons/editor-icons.html">
<link rel="import" href="../../bower_components/geo-location/geo-location.html">
<link rel="import" href="/bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="/bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">

<dom-module id="alta-movimiento">
  <template>
    
    <style>
      :host {
        display: block;
      }
      table {

        border-width: medium;
        border-color: rgb(33, 33, 87);
      }
      .blue-toolbar {
        background: var(--paper-blue-500);
        color: white;
      }
      paper-button{

          background-color:deepskyblue;
          color: white

      }
      iron-form{
        justify-content: center;
        
        }

    .avatar-container {
      position: relative;
      border: 2px solid rgb(7, 135, 255);
      border-radius: 5%;
      height: auto;
      padding: 2px;
      width: 250px;
      margin: auto auto;
    }
   
      
    paper-button{

      justify-content: left;
      font-size: 11pt;

    }
    .alta{
      margin-top: -60px;
      margin:3% auto auto auto;
      width: 40em;
      max-width: 60%;
      opacity: 0.9;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      padding:16px;
       left:50%;
       border-radius: 5px;
       background-color: #fff; 
       color: #757575;
       text-align: center;
    }
    </style> 


      
<iron-ajax id="altaMovimiento"
              url="http://api-rest-api-back.1d35.starter-us-east-1.openshiftapps.com/v1/movimientos/"
              method="POST"
              handle-as="json"
              content-type="application/json"
              body="{{movimiento}}"
              on-response="mostrarResultadoAlta"
              on-error="mostrarErrorAlta"></iron-ajax>

<iron-ajax id="altaMovimientoPagoTDC"
              url="http://api-rest-api-back.1d35.starter-us-east-1.openshiftapps.com/v1/movimientos/pagoTDC"
              method="POST"
              handle-as="json"
              content-type="application/json"
              body="{{movimiento}}"
              on-response="mostrarResultadoAlta"
              on-error="mostrarErrorAlta"></iron-ajax>

<iron-ajax id="altaComercio"
              url="http://api-rest-api-back.1d35.starter-us-east-1.openshiftapps.com/v1/comercios/"
              method="POST"
              handle-as="json"
              content-type="application/json"
              body="{{comercio}}"
              on-response="mostrarResultadoComercio"
              on-error="mostrarErrorAlta"></iron-ajax>

    <iron-ajax id="catalogoServicios"  
              method="GET"
              handle-as="json"
              content-type="application/json"
              on-response="cargarCatalogo"
              on-error="mostrarErrorCatalogo"></iron-ajax>

    <iron-ajax id="catalogoTarjetasDebito"
              method="GET"
              handle-as="json"
              content-type="application/json"
              on-response="cargarCatalogoTarjetas"
              on-error="mostrarErrorCatalogo"></iron-ajax>
    
    
    <paper-alert-dialog id="dialog" >
              <paper-alert-dialog-icon-header icon="icons:receipt">Movimiento registrado!</paper-alert-dialog-icon-header>
              Puedes seguir el movimiento en el detalle.
    </paper-alert-dialog>        
   
   
   

    <app-toolbar class="blue-toolbar"  fixed="true" style="width:100%;">
        <div style="width:1000px; height:auto;"><iron-icon style=" width: 30px; height: 30px;" icon="list"></iron-icon> Alta de movimiento </div>        
    </app-toolbar> 

    
    <geo-location watch-pos high-accuracy  timeout="100" latitude="{{ latitude }}" longitude="{{ longitude }}"></geo-location>
    
<div class="alta">
    <div class="avatar-container">
        <paper-card id="imagenTarjeta" ></paper-card>
    </div>
  <div style="font-size: 22px; margin: 16px 0; color: #212121;"> 
    <iron-form id="form2">
      <form action="">
        <paper-input id= "idSaldoActual"  label="Saldo Actual"  name="saldoActual" value="{{numeroCantidad()}}" disabled><iron-icon icon="account-balance-wallet" slot="prefix"></iron-icon></paper-input>
        <iron-icon icon="loyalty" slot="prefix"></iron-icon>
        <paper-dropdown-menu label="Servicios disponibles" required="required" dynamicAlign="false" auto-validate error-message="Elige un servicio!" on-iron-select="obtenerServicio">
          <paper-listbox slot="dropdown-content" class="dropdown-content">
            <template is="dom-repeat" items ="{{catalogoServicios}}">
                <paper-item>{{item.nombreServicio}}</paper-item>
            </template>
          </paper-listbox>
        </paper-dropdown-menu>
        
        
        <template is="dom-if" if="{{creditPayment}}">  
            <div style=" border-left: 6px solid rgb(32, 147, 255);background-color: rgb(221, 244, 252);">
              <paper-dropdown-menu label="Tarjetas de débito" required="required" dynamicAlign="false" auto-validate error-message="Elige una tarjeta!" on-iron-select="obtenerTarjeta">
                <paper-listbox slot="dropdown-content" class="dropdown-content">
                  <template is="dom-repeat" items ="{{catalogoTarjetas}}">
                      <paper-item id={{item.numTarjeta}}>{{enmascararTarjeta(item.numTarjeta)}}</paper-item>
                  </template>
                </paper-listbox>
              </paper-dropdown-menu>
              <paper-input id= "idSaldoDebito"  label="Saldo tarjeta débito"  name="saldoDebito" value="${{debitoSeleccionada.saldoActual}}" disabled><iron-icon icon="account-balance-wallet" slot="prefix"></iron-icon></paper-input>
            </div>
        </template>
       
        <template is="dom-if" if="{{!creditPayment}}">
           <paper-input id= "idReferencia" label="Referencia" placeholder="Referencia" char-counter maxlength="10" name="referencia" value="{{movimiento.referencia::input}}" required="required" auto-validate pattern="[0-9]{10}" error-message="Referencia no valida!"><iron-icon icon="description" slot="prefix"></iron-icon></paper-input> 
        </template>
       
        <paper-input id= "idImporte"  label="Importe"  type="number" name="importe" value="{{movimiento.importe::input}}" required="required" auto-validate  error-message="Solo se admiten 2 decimales!" step="0.01" min="0"> <iron-icon icon="editor:monetization-on" slot="prefix"></iron-icon></paper-input>
        <br>
        <paper-button raised on-click="altaMovimiento"><iron-icon icon="done-all"></iron-icon>Realizar pago!</paper-button>
        <p style="font-size: 15px;"><iron-icon icon="error-outline" slot="prefix"  style="display:{{displayIcon}};color:red;"></iron-icon> {{mensaje}}</p>

      </form>
      <br>

    </iron-form>
   
    
</div> 
</div>

  </template>
  
  <script>
    /**s
     * @customElement
     * @polymer
     */
    class AltaMovimiento extends Polymer.Element {
      static get is() { return 'alta-movimiento'; }
      static get properties() {
        return {
         
          movimiento:{type: Object, value:{}},
          comercio:{type: Object, value:{}},
          mensaje:{
            type:String
          },
          creditPayment:{type: Boolean, value: false},
          tarjetaOrigen:{
            type: Object,
            notify:true
          },status:{type: String,notify: true, observer: 'selectedChanged'},
          displayIcon:{type: String, value:'none'},
          longitude: Number,
          latitude:Number,    
          catalogoServicios:{
            type:Array
          },
          catalogoTarjetas:{
            type:Array
          },debitoSeleccionada:{type:Object,value:{}}
        };
      }
      selectedChanged(selected){

          console.log("valor seleccion cuentas: " + selected);
          if(selected == 'altaMovimiento'){
              this.$.idSaldoActual.value = this.numeroCantidad();
              this.urlImagen()
              console.log("valor de idCliente en alta movimiento: " + JSON.stringify(this.tarjetaOrigen));
              this.$.catalogoServicios.url ="http://api-rest-api-back.1d35.starter-us-east-1.openshiftapps.com/v1/servicios/"+this.tarjetaOrigen.tipoTarjeta;
              this.$.catalogoServicios.generateRequest();
              if (navigator.geolocation) {
                   navigator.geolocation.getCurrentPosition(function(position){

                      console.log("Latitude: " + position.coords.latitude + 
                       "Longitude: " + position.coords.longitude);
          
                        });
              } 
          }

        }
      numeroCantidad(){
        if(this.status=='altaMovimiento'){
          return '$'+ this.tarjetaOrigen.saldoActual.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }
      }
      enmascararTarjeta(numTarjeta){
        return '*' + numTarjeta.substring(12,17); 
      }
      obtenerTarjeta(e){

        this.tarjetaDebito = e.target.selectedItem.id;
        console.log(this.tarjetaDebito);

        for (var i =0; i < this.catalogoTarjetas.length; i++ ){

            if (this.catalogoTarjetas[i].numTarjeta == this.tarjetaDebito){

                this.debitoSeleccionada= this.catalogoTarjetas[i];
                break;
            }
        }

      }
      obtenerServicio(e) {
          
        this.movimiento.descripcion = e.target.selectedItem.innerText;
        
        if(this.movimiento.descripcion =='Pago tarjeta'){

            this.creditPayment = true;
            this.$.catalogoTarjetasDebito.url ="http://api-rest-api-back.1d35.starter-us-east-1.openshiftapps.com/v1/cuentas/?idCliente="+this.tarjetaOrigen.idCliente+"&tipoTarjeta=D";
            this.$.catalogoTarjetasDebito.generateRequest();

        }else{

            this.creditPayment = false;

        }

      }
      mostrarErrorCatalogo(error){
        this.mensaje = "Error al cargar la información, reintente más tarde.";  
        this.displayIcon ='0';
      }
    mostrarErrorAlta(error){
      
        console.log(error.detail.request.xhr.response.message)
        console.log(error.detail.request.status)
        var status = error.detail.request.status;
        var bodyError = error.detail.request.xhr.response.message;
      
          if(bodyError != undefined){

            this.mensaje = bodyError;
          
          }else{

             this.mensaje = "Error desconocido, intente más tarde";

          }
        
        this.displayIcon ='0';
      
    }

    cargarCatalogo(data) {

       this.catalogoServicios = data.detail.response;
       console.log(this.catalogoServicios)

    }

    cargarCatalogoTarjetas(data){
      this.catalogoTarjetas = data.detail.response[0].cuentas;
       console.log(this.catalogoTarjetas)
    }

    urlImagen(){
          
          
          if(this.tarjetaOrigen.tipoTarjeta == 'D'){
      
            this.$.imagenTarjeta.image = "../images/debit-card.jpg";
                
          }else{
          
            this.$.imagenTarjeta.image ="../images/credit-card.png";
      
          }
    }
   
    ready() {
      super.ready();
      this.$.dialog.addEventListener('confirm', e => {this.handleConfirm(e)});
    }

    handleConfirm(e) {
      this.status = 'cuentas';
    }
    altaMovimiento(e){
      
      var importeInput = this.shadowRoot.querySelector('#idImporte');
      importeInput.validate();

      if(this.creditPayment){

        if (this.movimiento.importe > this.debitoSeleccionada.saldoActual){

           this.mensaje ="El importe del movimiento es mayor al del saldo de la TDD " + this.enmascararTarjeta(this.debitoSeleccionada.numTarjeta) ;
           this.displayIcon ='0';
           return;

        }else if(this.movimiento.importe > this.tarjetaOrigen.saldoActual){

            this.mensaje ="El importe no puede ser mayor al saldo de la tarjeta de Credito " + this.enmascararTarjeta(this.tarjetaOrigen.numTarjeta);
            this.displayIcon ='0';
            return;

        }

            this.movimiento.tarjetaPago = this.debitoSeleccionada;


      }else{


            
            var referencia = this.shadowRoot.querySelector('#idReferencia');
            referencia.validate();

            if(!(referencia.invalid ||importeInput.invalid || this.movimiento.descripcion == undefined)){
                  
                  if(this.tarjetaOrigen.saldoActual < this.movimiento.importe){

                      this.mensaje ="El importe del movimiento es mayor al de tu saldo";
                      this.displayIcon ='0';
                      return;

                  }                
                
            }else{
              return;
            }
      }

            this.movimiento.idCliente = this.tarjetaOrigen.idCliente;
            this.movimiento.idCuenta =  this.tarjetaOrigen.idCuenta;      
            this.movimiento.importe = Number.parseFloat(this.movimiento.importe);
            this.movimiento.tipoTarjeta = this.tarjetaOrigen.tipoTarjeta;
            

            this.comercio.nombre = 'BANCO TechU!';
            this.comercio.giro = "Servicios financieros";
            this.comercio.latitud = this.latitude;
            this.comercio.longitud = this.longitude;
            console.log(JSON.stringify(this.movimiento))
            console.log(JSON.stringify(this.comercio))

            this.$.altaComercio.generateRequest();
           console.log(this.latitude + "  " + this.longitude);
    }

    mostrarResultadoAlta(data){

       this.$.dialog.open();
    }
    mostrarResultadoComercio(data){

        console.log("la respuesta!! "+ JSON.stringify(data.detail.response));
    
        this.movimiento.idComercio = data.detail.response._id.$oid;

        if(this.creditPayment){

          this.$.altaMovimientoPagoTDC.generateRequest();

        }else{

          this.$.altaMovimiento.generateRequest();

        }
    }
    
    }
 
    window.customElements.define(AltaMovimiento.is, AltaMovimiento);
  </script>
  
</dom-module>